@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('./imports/reset.css');
@import url('./imports/header.css'); 
@import url('./imports/aside.css');  
@import url('./imports/footer.css');                                                                                     

:root {
    --width100: 100%;
    --flex: flex;
    --center: center;
    --cor-borda: #eaeaeb;
    --cor-links: #A050BE;
    --bg-botoes: #F8BC52;
    --cinza: #d3d3d3;
    --branco: #ffffff;
}

body {
    width: var(--width100);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 3.75rem;
}

.artigo {
    padding: 3rem;
}

.artigo h2 {
    font-size: 1.8rem;
    text-align: var(--center);
    font-weight: 300;
}

.artigo img {
    max-width: 100%;
    margin: 1.6rem 0;
}

.artigo p {
    line-height: 1.5rem;
}

.share {
    padding: 0 2rem;
}

.form-comentarios {
    padding: 2rem;
}

.form-comentarios form {
    display: var(--flex);
    flex-direction: column;
    align-items: var(--center);
    gap: 1.2rem;
}

.form-comentarios form input[type="text"], .form-comentarios form textarea {
    width: var(--width100);
    font-size: 1rem;
    padding: .4rem .8rem;
} 

.form-comentarios form .btn-enviar {
    width: 35%;
    background-color: var(--bg-botoes);
    padding: .5rem;
    font-size: .9rem;
    border: none;
}

.comentarios {
    background-color: var(--cinza);
    padding: 0 2rem;
    margin-top: 1rem;
}

.comentarios .coment {
    border-bottom: 2px solid var(--branco);
    padding: 1.2rem 0;
}

.comentarios .coment p {
    line-height: 1.3rem;
    margin-top: .4rem;
}

.comentarios .coment:last-child {
    border: none;
}

aside {
    display: none;
}

@media only screen and (min-width: 768px) { /* Tablet */

}

@media only screen and (min-width: 991px) { /* desktop */

}