@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('./imports/reset.css');
@import url('./imports/header.css');   
@import url('./imports/footer.css');                                                                                     

/* fazer variáveis ... */

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 10vh;
}

.artigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.artigos h1 {
    font-family: "Dancing Script", Helvetica;
    font-size: 3rem;
}

.artigo {
    max-width: 80%;
    border: 2px solid #eaeaeb;
    text-align: center;
}

.artigo .titulo {
    padding: 1rem 1.4rem .5rem 1.4rem;
}

.artigo .titulo a {
    font-size: 1.2rem;
    color: #000000;
}

.artigo .subtitulo, .artigo .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artigo .subtitulo {
    gap: 1rem;
    padding: .4rem 0;
}

.artigo .subtitulo .data {
    font-size: .71rem;
}

.artigo .subtitulo .tag {
    font-size: .7rem;
    border: 1px solid #A050BE;
    color: #A050BE;
    padding: .2rem .6rem;
}

.artigo .detalhes {
    padding: 0 1.4rem 1.4rem 1.4rem;    
}

.artigo .detalhes p {
    text-align: left;
    font-size: .85rem;
    line-height: 1.2rem;
    margin-bottom: .9rem;
}

.artigo .detalhes img {
    max-width: 40%;
    float: left;
    margin-right: .9rem;
}

.artigo .detalhes a {
    background-color: #F8BC52;
    color: #A050BE;
    font-size: .8rem;
    padding: .45rem .6rem;
}

.artigo .info {
    border-top: 2px solid #eaeaeb;
    width: 100%;
    font-size: .8rem;
} 

.artigo .info .autor, .artigo .info .comentarios {
    width: 100%;
    padding: .3rem 0;
}

.artigo .info .autor {
    border-right: 2px solid #eaeaeb;
}