@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    width: 100%;
}

header {
    background-color: blue;
    height: 10vh;
    text-align: center;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 15%;
}

.hamburger {
    position: absolute;
    right: 1.3rem;
    top: 3.5vh;
    cursor: pointer;
    padding: 6px 10px;
}

.hamburger .linha-hamburger {
    height: 3px;
    width: 26px;
    margin-bottom: 5px;
    display: block;
    background-color: #ffffff;    
    transition: all 1s ease-in;
}

.hamburger.active .linha-hamburger:first-child {
    transform: rotate(45deg) translate(12px, 10%);
}

.hamburger.active .linha-hamburger:last-child {
    transform: rotate(-45deg) translate(11px, 10%);
}

.hamburger.active .linha-hamburger:nth-child(2) {
    transform: scale(0);
}

.nav-list-dropdown {
    position: fixed;
    background-color: blue;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform 1s ease-in;
    z-index: 1;
    border-top: 1px solid #000000;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding: 1.5rem 0;
}

.nav-list-dropdown.active {
    transform: translateX(0);
}

.nav-list-dropdown li {
    padding: 1.3rem 3rem;
}

.nav-list-dropdown li a {
    color: #ffffff;
    font-family: "Dancing Script", Helvetica;
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 1.3rem 3rem;
}

main {
    padding-top: 10vh;
}

.artigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 0;
}

.artigo {
    max-width: 80%;
    border: 2px solid #000000;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 1.2rem;
}

.artigo .subtitulo, .artigo .info {
    display: flex;
    justify-content: center;
}

.artigo .subtitulo {
    gap: 1.2rem;
    margin: .2rem 0 .7rem 0;
}

.artigo .detalhes {
    padding: 1rem 0;
}

.artigo .detalhes p {
    text-align: left;
    margin-bottom: .7rem;
}

.artigo .detalhes img {
    max-width: 40%;
    float: left;
    margin-right: .7rem;
}

.artigo .info {
    border: 1px solid #000000;
    border-radius: 2rem;
    width: 100%;
    padding: .2rem 0;
} 

.artigo .info .autor, .artigo .info .comentarios {
    width: 100%;
}

.artigo .info .autor {
    border-right: 1px solid #000000;
}

footer {
    padding-bottom: 1.2rem;
}

footer img {
    width: 26%;
    display: block;
    margin: 0 auto;
}