aside {
    max-width: 80%;
    border: 2px solid var(--bg-botoes);
    padding: 1rem 1.4rem;
    margin: 0 auto 1.6rem auto;
}

aside span {
    display: block;
    text-align: var(--center);
    background-color: var(--bg-botoes);
    font-weight: bold;
    padding: .4rem 0;
    margin-bottom: .5rem;
}

.lista-top-posts {
    display: var(--flex);
    flex-direction: column;
    /* gap: 1rem; */
}

.post {
    display: var(--flex);
    gap: 1rem;
    padding: 1rem 0;
}

.post:nth-child(2) {
    border-top: 2px solid var(--bg-botoes);
    border-bottom: 2px solid var(--bg-botoes);
}

.post img {
    max-width: 40%;
}

.post a {
    color: var(--cor-links);
}

.post .data {
    font-size: .8rem;
    margin-top: .2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {  /* Tablet */
    aside {
        max-width: 32%;
        height: max-content;
        border: 2px solid var(--cor-borda);
        padding: 1rem 1.4rem;
        margin: 2.6rem 2rem 0 0;
    }

    aside span {
        font-size: .8rem;
        margin-bottom: .2rem;
    }
    
    .post {
        gap: .6rem;
    }
    
    .post:nth-child(2) {
        border-top: 2px solid var(--cor-borda);
        border-bottom: 2px solid var(--cor-borda);
    }

    .post a {
        font-size: .8rem;
    }
    
    .post img {
        max-width: 45%;
    }

    .post .data {
        font-size: .6rem;
        margin-top: .1rem;
    }
}

@media (min-width: 1025px) {  /* Desktop */
    aside {
        max-width: 32%;
        height: max-content;
        border: 2px solid var(--cor-borda);
        padding: 1rem 1.4rem;
        margin: 2.6rem 2rem 0 0;
    }

    aside span {
        font-size: 1.2rem;
        margin-bottom: .2rem;
    }
    
    .post {
        gap: .8rem;
    }
    
    .post:nth-child(2) {
        border-top: 2px solid var(--cor-borda);
        border-bottom: 2px solid var(--cor-borda);
    }

    .post a {
        font-size: 1rem;
    }
    
    .post img {
        max-width: 50%;
    }

    .post .data {
        font-size: .8rem;
        margin-top: .2rem;
    }
}