footer {
    display: var(--flex);
    flex-direction: column;
    justify-content: var(--center);
    align-items: var(--center);
    gap: .6rem;
    padding-bottom: 1rem;
}

footer img {
    width: 15%;
}

footer .social {
    padding: .3rem;
}

footer .social img {
    width: 32px;
}