footer {
    display: var(--flex);
    flex-direction: column;
    justify-content: var(--center);
    align-items: var(--center);
    gap: .6rem;
    padding-bottom: 1rem;
}

footer img {
    width: 15%;
}

footer .social {
    padding: .3rem;
}

footer .social img {
    width: 32px;
}

@media only screen and (min-width: 768px) { /* Tablet */
    footer {
        gap: 1rem;
        padding-bottom: 1.2rem;
    }
    
    footer img {
        width: 10%;
    }
    
    footer .social img {
        width: 28px;
    }
}

@media only screen and (min-width: 991px) { /* desktop */

}