footer {
    display: var(--flex);
    flex-direction: column;
    justify-content: var(--center);
    align-items: var(--center);
    gap: .6rem;
    padding-bottom: 1rem;
}

footer img {
    width: 15%;
}

.social {
    padding: .3rem;
}

.social img {
    width: 32px;
}

@media (min-width: 768px) and (max-width: 1024px) {  /* Tablet */
    footer {
        gap: 1rem;
        padding-bottom: 1.2rem;
    }
    
    footer img {
        width: 10%;
    }
    
    .social img {
        width: 28px;
    }
}

@media (min-width: 1025px) {  /* Desktop */
    footer {
        gap: 1rem;
        padding-bottom: 1.2rem;
    }
    
    footer img {
        width: 7%;
    }
    
    .social img {
        width: 32px;
    }
}